<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace的值，要填写对应模块的mapper接口类的全类名 -->
<mapper
	namespace="com.neuedu.his.mapper.outpatientDoctorWorkStationMapper.InspectionApplicationMapper">
	<select id="select" resultType="Register">
		select * from Register where VisitState=2 and DeptID=#{DeptID} and
		UserID=#{UserID}

		<if test="RealName!=null and RealName!=''">
			and RealName=#{RealName}
		</if>
		<if test="CaseNumber!=null and CaseNumber!=''">
			and CaseNumber=#{CaseNumber}
		</if>
	</select>

	<select id="getCheck" resultType="CheckApply">
		select * from CheckApply where RegistID=#{ID}
	</select>

	<select id="getItemName" resultType="String">
		select ItemName from FmedItem where ID = #{ID};
	</select>
	
	<insert id="addCheck">
		insert into CheckApply(MedicalID,RegistID,ItemID,Name,Objective,Position,IsUrgent,Num,CreationTime,DoctorID,CheckOperID,ResultOperID,State,RecordType)
		values(#{MedicalID},#{RegistID},#{ItemID},#{ItemName},#{Objective},#{Position},#{IsUrgent},#{Num},#{CreationTime},1,1,1,1,1)
	</insert>	
	
	<select id="getItemID" resultType="Integer">
		select ID from FmedItem where ItemName = #{ItemName}
	</select>
	
	<select id="getMedicalID" resultType="Integer">
		select ID from MedicalRecord where RegistID =#{RegistID}
	</select>
	
	<update id="staging">
		update CheckApply set State = 1 where ID=#{ID};
	</update>
	
	<update id="open">
		update CheckApply set State = 2 where ID=#{ID};
	</update>
	
	<update id="repeal">
		update CheckApply set State = 0 where ID=#{ID};
	</update>
	
	<delete id="dodelete">
		delete from CheckApply where ID=#{ID};
	</delete>
	
	<select id="getState" resultType="Integer">
		select State from CheckApply where ID=#{ID};
	</select>
	
	<select id="getresult" resultType="String">
		select Result from CheckApply where ID=#{ID};
	</select>
</mapper>
