<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.OutpatientFiancial.OutpatientdepartmentworkloadstatisticsMapper">
               
	<select id="selectWorkLoadStatistics" resultType="WorkloadStatistics">
		select p.Name,p.Price,p.Amount,p.DeptID,d.DeptName,d.DeptType,p.CreateTime
		 from patientcosts p LEFT OUTER JOIN department d
		on p.DeptID=d.ID
		<where>
			<if test="DeptName!=null and DeptName!=''">
				and DeptName=#{DeptName}
			</if>
			<if test="StartTime!=null">
				and CreateTime Between #{StartTime} and #{EndTime}
		
			</if>
		
		</where>
	</select>

	



</mapper>
